<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>app.servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>app.servlets.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>app.servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tasks</servlet-name>
        <servlet-class>app.servlets.tasks.tasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roles</servlet-name>
        <servlet-class>app.servlets.roles.roles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employees</servlet-name>
        <servlet-class>app.servlets.employees.employees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createEmployee</servlet-name>
        <jsp-file>pages/employees/createEmployee.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createEmployee</servlet-name>
        <url-pattern>/createEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createEmployeeSubmit</servlet-name>
        <servlet-class>app.servlets.employees.createEmployee</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>createRole</servlet-name>
        <jsp-file>pages/roles/createRole.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createRole</servlet-name>
        <url-pattern>/createRole</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>createRoleSubmit</servlet-name>
        <servlet-class>app.servlets.roles.createRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editRole</servlet-name>
        <servlet-class>app.servlets.roles.editRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTask</servlet-name>
        <servlet-class>app.servlets.tasks.createTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTask</servlet-name>
        <servlet-class>app.servlets.tasks.editTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editEmployee</servlet-name>
        <servlet-class>app.servlets.employees.editEmployee</servlet-class>
    </servlet>
    
    
</web-app>
